<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/static/style.css' />
    <title>@ Arhank</title>
</head>
<body class="body">
    <div name="outer">
        <form action="/searching" method="post">
            <h1>Arhank</h1>
            <section class="search-bar">
                <input type="text" class="bar" id="bar-2" name="bar" placeholder="Search">
                <button type="submit" value="Submit">🔍</button>
            </section>
        </form>
    </div>
</body>
</html>
